export default {
  'DB_CONNECTION': 'DB',
  'NODE_DB_HOST': 'HOST',
  'NODE_DB_PORT': 'PORT',
  'NODE_DB_DATABASE': 'DATABASE_NAME',
  'NODE_DB_USERNAME': 'DB_USER_NAME',
  'NODE_DB_PASSWORD': 'USER_PASSWORD'
}